KERNEL=="js?", ATTRS{idVendor}=="046d", ATTRS{product}=="Logitech Cordless RumblePad 2", ATTRS{manufacturer}=="Logitech", SYMLINK+="joystick", MODE="666", GROUP="dialout"
KERNEL=="ttyACM?", ATTRS{idVendor}=="15d1", ATTRS{product}=="URG-Series USB Driver", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", SYMLINK+="laser", MODE="666", GROUP="dialout"
KERNEL=="ttyACM?", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="8036", SYMLINK+="arduino_leonardo", MODE="666", GROUP="dialout"
SUBSYSTEM=="usb", ATTR{manufacturer}=="Arduino (www.arduino.cc)", ATTR{product}=="Arduino Uno", SYMLINK+="arduino_uno", MODE="666", GROUP="dialout"
KERNEL=="ttyUSB?", DRIVERS=="cp210x", SYMLINK+="compass", MODE="666", GROUP="dialout"
